* {
    margin: 0;
}

.flex {
    display: flex;
}

#grid-square-container {
    flex-wrap: wrap;
    justify-content: center;
    transform: scale(0.4);
    transform-origin: center top; /*line fixes scale whitespace issue*/
    border: 3px solid gray;
}

.grid-square {
    aspect-ratio: 1/ 1;
}

.grid-square.colored {
   background-color: black;
}

